EXPO_PUBLIC_API_BASE_URL=https://twin-x-care.vercel.app
EXPO_PUBLIC_FIREBASE_API_KEY=REPLACE_WITH_FIREBASE_WEB_API_KEY
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=twinxcarebackend.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=twinxcarebackend
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=twinxcarebackend.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=791637368111
EXPO_PUBLIC_FIREBASE_APP_ID=REPLACE_WITH_FIREBASE_WEB_APP_ID
FIREBASE_PROJECT_ID=twinxcarebackend
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@twinxcarebackend.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="REPLACE_WITH_FIREBASE_ADMIN_PRIVATE_KEY"
SENDGRID_API_KEY=REPLACE_WITH_SENDGRID_API_KEY
TO_EMAIL=REPLACE_WITH_RECIPIENT_EMAIL
FROM_EMAIL=REPLACE_WITH_VERIFIED_SENDER_EMAIL
GENAI_API_KEY=REPLACE_WITH_GEMINI_API_KEY
